html {
    min-height:100%;
}

body {
    background-image: linear-gradient(to bottom right, black, midnightblue);  
    font-family: 'Changa', monospace;    
    font-size: 1rem;
    height:100%;
}

@mixin StarWarsText() {
    color: yellow;
    text-align: center;    
    transform-origin: 50% 100%;
    transform:perspective(175px) rotateX(35deg);   
  }

.main-heading {
    @include StarWarsText;
    font-size:3rem;
}

.main-subheading {
    @include StarWarsText;
    font-size:2rem;    
}

.main-subheading__display {
    display:none;
}


.container {
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.card {    
    /* card structure */
    border-radius: 7px;
    padding: 10px;
    margin: 20px;
    text-align: center;

    &__img {
        max-width: 100px;
    }

    /* card skins */
    &--dark {
        background-color: black;      
        box-shadow: 3px 6px 3px #ffff00;
        border:2px solid #ffff00;
    }

    &__header--dark {
        color: #ffff00;
    }

    &__subheader--dark {
        color: #ffff00;
    }

    &__text--dark {
        color: #ffff00;
    }
    
    &--light {
        background-color: #EEE;      
        border:2px solid #191970;
    }

    &__header--light {
        color: #191970;
    }

    &__subheader--light {
        color: #191970;
    }

    &__text--light {
        color: #191970;   
    }

    &__shadow--green {  
        box-shadow: 
        0px 0px 20px 10px lime;
    }

    &__shadow--red {
        box-shadow: 0px 0px 20px 10px red;   
    }

    &__shadow--purple {
        box-shadow: 0px 0px 20px 10px purple;   
    }
}

.button {
    /* button structure */
    color: #EEE;
    font-size:1rem;
    border-radius: 15px;
    padding:10px;
    
    
    /* button skins */
    &--dark {
        background-color: red;
    }

    &--light {
        background-color: #191970;
    }
}

@media only screen and (min-width: 600px) {
    .main-subheading__display {
        display:block;
    }   
}

@media only screen and (min-width: 1000px) {
    .main-heading {
        @include StarWarsText;   
        font-size:4rem;
    }

    .main-subheading {
        @include StarWarsText;
        font-size:3rem; 
    }
}