body {
    background-image: linear-gradient(to bottom right, black, midnightblue);
}

img {
    max-width: 200px;
}

.main-heading {
    color: yellow;
    text-align: center;
}

.card {
    border:2px solid #191970;
    border-radius: 7px;
    margin: 20px auto;    
    width: 60%;
    text-align: center;
    box-shadow: 5px 10px 5px rgb(84, 84, 82);
}

.dark {
    background-color: black;
    color: #ffff00;
}

.light {
    background-color: #ffe4c4;
    color: #191970;
}