html {
    min-height:100%;
}

body {
    background-image: linear-gradient(to bottom right, black, midnightblue);  
    font-family: 'Changa', monospace;    
    height:100%;
}

.sw-img {
    max-width: 100px;
}

.main-heading {
    color: yellow;
    text-align: center;    
    transform-origin: 50% 100%;
    transform:perspective(175px) rotateX(35deg);
    font-size:3rem;
}

.container {
    display:flex;
}

/* card structure */
.card {    
    border-radius: 7px;
    margin: 20px auto;    
    width: 60%;
    text-align: center;   
}

/* card skins */
.card--dark {
    background-color: black;   
    color: #ffff00;
    box-shadow: 3px 6px 3px yellow;
    border:2px solid yellow;
}

.card--light {
    background-color: #b8e4f1;
    color: #191970;    
    box-shadow: 3px 6px 3px #46b1cf;    
    border:2px solid #46b1cf;
}